[Intro]
Man these bitches out here tryna lemonade a nigga mane. God damn, you know what I'm sayin' man? Like I always tell a chick like this right here: if I fuck with you I fuck with you. You can get anything you want; everything you want. But just don't be sweatin' no nigga. I'm tryna get these millions baby! I'm tryna make us rich!

[Hook]
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes

[Verse 1]
Ok control your hoes, I'm rich, she know
I pass these hoes like give and go
I ain't gotta say a word, she knows
And she get the picture, no photos
Unless we're talking S-550 or more
I told her that's the bottom line, low blow
She said she don't do this all the time, we know
But for some reason I feel like she lyin', for sure for sure
She go, she go
Ain't got no problem with it, I got more
I got control of these hoes
You just gotta know that's just how it go when you blow, so

[Hook]
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes

[Verse 2]
You keep your girl out your DM
You can't get caught with your BM
You tell that bitch up front you pimpin'
And if she stay, when you talk she gon' listen
You put that ho on hold
And then you count the dough
Tell that bitch get back to work
I count so much it hurt, your feelings
I'm ridin', I feel like Wayne, no ceilings
You want to know what's on my brain, more millions
If a bitch around me then she makin' more millions
You want to know how to turn it into your millions

[Hook]
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes
Control your hoes, control your hoes, control your hoes