[Intro]
Yeah, Control
내 왔다
Simon Dominic

[Verse 1]
회사는 잠깐 뒤로 빠져있어
내 말이 계약 위반이라도 난 새로운 룰을 만들 자격있지
개같이 굴러왔으니 Major, 지난 5년간의 생존
누군가에겐 독이 됐고 내겐 무기가 됐지 맹독
그래 착한 척 해왔던 label? 다듀 음악답게
이제야 이빨을 드러내니 좀 hip hop같애
센스는 자기 욕하고 때려주길 바랬지 딱 그거
무관심, 방관이 만든 분노가 판도를 바꾸고있어
구경난 개들은 내가 그 여우래, 잠시만?
센스가 애매하게 날 깔 리 없잖아? 방심하지마
이센스 대 Amoeba Culture, 이센스 대 다듀
나 역시 문제가 많았지만 그들의 맞지 않는 사주
이 둘 싸움에서 누구의 손을 들어줄 수도 없는 입장
언제나 한쪽을 꽉 쥐었던 건 내 동생의 손목
진짜 이기심은 싸움꾼 그 싸움은 답이 없는 다음뿐
들리지 않는 고함뿐인 자리 끝엔 속 상하는 과음뿐
이유없는 다툼에도 내 잘못은 분명 있지, 인정
방패없는 투쟁에서 나만 언제나 이긴 척
난 별 수 없었어 그냥 벌 수 밖에
쓰다가 지친 verse의 converse밖에서도 혼자 외롭게 설 수 밖에
System안에 부적응을 지금 탓하는 건 웃기지
센스 없이도 센스있게 적응했던 나를 숨기지
사람들은 말해 난 피해자들의 피해자가 됐지
내가 피해왔기 때문에 생긴 피해가 또 기회가 됐지
난 살아갈 이유가 될게 죽고 싶을 때 신을 찾듯이
난 비즈니스를 믿지 않아 비지니스가 날 믿게 만들지

[Verse 2]
솔직히 지금 이 피똥튀기는 싸움에 난 피를 볼건데 넌 똥만 싸질러놨네
넌 "진실"을 말할 자격 없지 예전에 한번 피봤잖아
내 이름을 파고 나서야 넌 1등을 찍지 이 씨발놈아
그게 나의 마지막 mercy 쇼미더머니 뻘짓
Brand New Pussy 계약서 앞에서 무릎 꿇었지
돼지새끼 여전히 불판 위에서 아직 덜 익었네
넌 raw한 것도 rare한 것도 아닌 그냥 웩
내가 너한테 쫄았다면 먼저 니 멱 땄겠지만
이상하게 필요악같은 새끼라서 살려뒀지 난
니 젖보는 재미로 간다는 Just Jam
섭외 얘기는 Ugly Duck의 확대해석이 첫 번째
내가 나이 서른 쳐먹고 쿡 찔러줬겠니? 좆도
그 부분 얘기할 때 숨 넘어가대 걍 쳐죽지 졸도로
같이 술 한잔 하자고 했던 건 100프로 진심
이젠 사과난 입에 쳐물고 있어 Sepak Takraw bitch
니가 사랑하는 제이통 내가 왜 뺏어
Fuck JM 니가 제이통 구속했던 얘긴 왜 뺏어
좆같은 계약서 내밀기 전에 왜 매니저를 붙이려해
South Town 이름까지 존나 쉽게 훔치려했네
순수한 새끼 그 때 얼마나 맘고생했는지 몰라
니가 사장이었던 과거를 존나게 후회하는 걸 봐
잘하는 새끼들 다 이젠 알아서 내 쪽으로 붙지
먼저 떨어져 나가줘서 고맙데이 씨발 문지훈
이 센스랑 베프라면서 속사정은 좆도 몰라
하나하나 다 얘기해줘야 돼?니 귀를 조물락
내 팬들 실망했겠다 이 씹쌔끼야
나도 팬들한테 실망 좀 했지 날 못 믿어서 밤을 지샜다고
무섭게 생긴 사람보면 피해라했지 엄마아빠가
이 새끼 인생 그만 쳐다봐줘 혹시나 너네 엇나갈까봐

[Verse 3]
센스 생각하면서 꿈을 그리는 니 팬픽
그래 전설이 되겠지 "The Best of Gay Shit"
니 상상임신으로 센스가 회사를 나왔네
여전히 입덧은 계속돼 제이통 하나 남았네
내가 티비에 존나 나와서 착한 척 쪼갤 때
뒤에서 나쁜 짓 하고 있었던 건 대체 누군데
니 친구한테 물어봐 내가 뒷통수 칠 놈인지
확실한 건 진실은 니 옆에 없지
알겠나 씨발새끼야?

[Outro]
"내 변명하는거 존나 싫어하는데 하나 얘기 해줄까 이 씨발놈아? 센스 아메바 문 박차고 나갈때 끝까지 앉아가지고 내가 회사랑 씨름했지. 좋아질거 없는데, 최대한 씨발 좋게 만들어 볼라고 해봤는데, 걍 좆같이 끝났지. 뭐 좆도 알고 씨부려 이 씹새끼야. 내용증명 내가 보내? 10억 내 탓이라고? 어디서 약 팔고 앉아있노 개섀끼가. 이 비계덩어리 같은 새끼. 뭐 모르면 씨발 좀 제발 깝치지 마라 좀 씨. 신났제 지금? 돼지새끼. 니 아무리 해봐도 좆밥이야. 정신병자 관심병자. 니 말 아무도 안 믿어주지? 세상은 낼 이렇게 사랑하거든. 좆같은 디스전에 힘 쏟을 시간에, 니 앨범이나 클래식으로 만들 생각이나 해 이 개섀끼야. 랩 게임? 엔터테인먼트? 좆까, 이제 아무 의미 없어졌으니까 씨발놈들아"