[Intro]
Life, it's funny
And not in a ha-ha way
So if you want something you gotta grab it yourself
You gotta make your own opportunity, create your own destiny
You show these industry doubters you are more than they think you are
You show them you are going to stand strong when they try and make you question yourself
You show them that they can't keep stealing your music, your culture and get away with it
They can't keep claiming that they made you
And you tell them the revolution will not be televised, it will be livestreamed
And it's here

[Hook]
We're in control, we're in control
It's easy nah, they didn't believe in us, shit changed now they feelin' us cause
We're in control, we're in control
It's easy nah, same g's in my scene nah, shit changed imma pree in ah cause
We're in control, we're in control

[Verse 1: Jme]
Can't ever try take man for a prick
Can't ever try license man's hits for some dead compilation shit
Man's kinda lucky still, I just made riddems, you lot heard them
Now I'm banging out whippin' excursion
Plannin' my loft conversion
Man's gotta relocate the truss
Man's gotta make room
Man don't care, yeah that's a bait tune, but it had to be said to a lot of fake goons
16 years, ain't took a loss
Plaques on the wall, I paid the cost
I stand on my own two feet, with my crew, us man ain't got a boss
Serious

[Hook]
We're in control, we're in control
It's easy nah, they didn't believe in us, shit changed now they feelin' us cause
We're in control, we're in control
It's easy nah, same g's in my scene nah, shit changed imma pree in ah cause
We're in control, we're in control

[Verse 2: P Money]
I am the master
Paid for the mixdown
Pay for the master
Pay for the studio
Got all the parts, blood
1-5 upfront
1-5 after
You can ask MsM
You can ask Henca(?)
You can ask Morpheus
I am in charge cause
I wrote the treatments, I made the transfers
You ain't in control, you just wrote bars blood
They wanna sign you cause they can't sign me
I'm too hands on, they would not like me
Be a professional, I am a professional badman, you pussyole fight me
Oh my god, man know me
Not one person on this planet owns me
How are you in control when you O.P
When I wrote this lyric, a label owed me
Get me? Cause

[Hook]
We're in control, we're in control
It's easy nah, they didn't believe in us, shit changed now they feelin' us cause
We're in control, we're in control
It's easy nah, same g's in my scene nah, shit changed imma pree in ah cause
We're in control, we're in control

[Verse 3: Donae'o and Kurt]
We'll be victorious (x8)
We'll be victorious, yeah
Ain't no controllin' us, yeah (x4)

[Outro]
They will not control us
We will be victorious (x2)