She knows.
She knows how much control is worth.
Knows what a woman can lose
when her power to move has been taken away.
Frozen, casted in shadows.
Dragged out to the wind,
hidden beneath the garden.

What if roses have stories they cannot tell?
What if God's voice is in the quietist things I've said?
I'm thin blooded. Patience always
tipping, tipping, to and fro.
Dancing magnesium in the light of the flame.
Standing hot hearted,
but always boiling to the heat of it's own drum.
It is the sum of my living.
And I've just been trying to find my way.

Stillness.
I feel like a secret I've never told.
Tucked tightly between the sheets of my conscience.
Words cannot be held.
Hands constantly reaching out for empty.
Hearts racing toward a bearing paradise.
Love longing, but never lasted.
Why can't you let go?
Ghostly habits.

In a perfect world I would be a thunderstorm.
Rain falling everywhere at once,
like big diamonds on my skin melting into reverie.
Lightly making itself present,
color bowing beneath the clouds,
being affected, being transposed.

A heavy set of hands on the hills of my body,
holding its shape together.
Clothing the fears.
Keeping these lens from falling to pieces.
When the sky breaks apart, and the weight culminates,
will my fingers nail the buzzing of blood
and the absence of numbness?
Can I keep the door open and the lights on in the forest?
Will the trees still call me home again?