[Hook]
Stay. No, don’t
Go away. Come close
When I say what I want’s not the same as what I’ve done. Oh no
It’s coursing through my veins
Coursing through my veins
I’m out of control
I can never tell when it’s over
When I say what I want’s not the same as what I’ve done. Oh no
It’s coursing through my veins
Coursing through my veins
But I want control

[Verse 1]
The jenga pieces were fucked from the start
Cause everything that I touch falls apart
There’s a faulty part of me resting, till it gets the best of me
Let’s me reach for the structure and then it shoves on my arm
I expect to be late - in a rush, cause it’s smart
And it deafens my head to negate the buzz of the alarm
Though I set it, I slept through it - wait...which one is the mark?
And who meddled? I wrestle with blame - while drunk up at the bar
Then I’m shredded to death the next day - hungover, I march
To the set of this expletive play, of what’s known as a farce
This director resents and degrades - I flub all of my parts
And I exit the stage, yet I claim I’m numb to his remarks
I’m an expert in lessening in pain, I cut over the scars
So the flesh that is left can remain untouched, pure as the dawn
But the second it festers, I rage. Destruction of the facade
Ain’t no guessing the recipe’s flavor, crunched under the char
It’s excessive in plenty of ways, I’m stumped? Then I restart
Cause If it ain’t perfection, I fade - I run towards the dark
Like there’s medicine kept in the shade - he crumples up the art
I regressively step and the baby gets dumped with the water
The penalty’s heft on mistakes is much heavier/harsh
So, when I mess up - reset the game - and thus - never go farther
A vet to rejection and hate, I’m huddled in my guard
So instead when I’m sent a grenade, I can bump it out the park
But he tends to deflect any praise, lumps it with the snark
My perception is - yes, I’m afraid I’ll fumble at 1 yard
I’m sweating whenever there’s bets to be placed, stuttering over the odds
Leveraging a defensive delay, shuffling the cards
I'm petrified of success and acclaim, he stumbles over the blocks
Every hex is accepted with grace, he’s comfortable in the loss
He projects, the trajectory’s safe, it’s control he can chart
[There’s sympathetic attention to gain - the shrug nobody wants]
And it's at the expense of his angst, He guns solo - it’s hard...
Incessant delays does most of the harm
And when a wave of depression came, he jumped over the barge
And in my dread, I was led astray and I dug holes in my yard
My ex suggested we separate, cause I suffocate with art
But there were many more pressing plagues that were stuffed within our cart
And then when I checked out, I felt my brain, I shut it in response
Ain't no prep for the sense of shame, when your woman knows you've lost -
I felt dejected, my selfish ways, had crushed my lover’s heart
And then my plus 1 departs, like they were plucked from the ark
I temporarily end the ache with sluts, hoes and thots
On the bus home I’m starving, cause my stomach’s full of knots
And as I slept in this bed of blades - he’s puffing a cigar
Cause he deceptively fed me bait, and drugged me with his charm
It’s like a sedative - hence the haze, you’re somehow absolved
Knowing there’s someone else in charge as you plummet and you fall
I relent and self-deprecate, and publicize my flaws
Turning these lemons to lemonade, in a punch filled with straws
Everyone begs me to get a taste, it’s ugly but it’s strong
As I struggle to evolve from a duck into a swan
Yet this devil won’t let me change, he’s sunk in with his claws
Until he collects every debt I pay, I’m stuck within these walls
I’m living within an enemy state of mind, but instead of a stranger, penning these checks
The evidence states, the enemy’s name is mine

[Hook]
Stay. No, don’t
Go away. Come close
When I say what I want’s not the same as what I’ve done. Oh no
It’s coursing through my veins
Coursing through my veins
I’m out of control
I can never tell when it’s over
When I say what I want’s not the same as what I’ve done. Oh no
It’s coursing through my veins
Coursing through my veins
But I want control

[Verse 2]
I’m outta control and I want you to know that my mind is my foe, and it vies for the throne
I’m trying to hold it inside, but it won’t
Subside and it grows, unless I can oppose it by fighting to own
What I’ve pridefully thrown to the side cause I’m prone to be private and closed
So, writing this tome where I’m highly exposed, helps lighten the load
Of the lies and loathing, the size of a boulder that’s tied to me
Hope l survive to be old and wiser, bestowed with the spite that I’m owed from the life that I’ve broken - the price of atonement is dying alone
And I’m out of control - And I’m driving it home
Every wind in the road is the kind that erodes and behind me it’s broke
I stay alive going forward and hide from my ghosts
But this self-sabotage is a complex process where the conflict’s
Brought upon by my own impulsive thoughts and then I’m haunted at night by them both
I was psyched to propose, so hyper with goals, and despite this he chose, to incite a divorce
And reclined as a drone in his stifling work, then he cries in remorse
In a cycle of woe, it’s dividing my soul
And one side’s got to go - but i cannot decide if I’m the parasite or the host
Oh!

[Outro]

There’s something wrong in my head
That shouldn’t be there

I’m out of control
I’m out of control
I’m out of control
I’m out of control

Don’t ever change. Don’t ever change
Cause it won’t change. No it won’t change anyway
So you can stay the way you are
The way you are