[Intro]
Hello, my name's Daniel and I don't really see what's so special about this "no control" stuff
Let me put it in another way:

[Verse 1]
Kendrick Lamar did a verse and everybody's going crazy
Can somebody explain to me why it's considered so amazing?
All I hear's another rapper running his mouth
Seriously, tell me what the fuck the fuss is about?
How did rap get into such a sorry state?
Was it folly? Fate?
Or is it the fact that I've only just arrived? Sorry I'm late
I was busy refining my craft
Writing a rap
To strike and attack
Anyone who's ever spoke a line on a track!
I'm a frightening madman, the violentest chap
So please let's have a moment of silence as Dan drops the most violent of raps!
Every MC in the charts is a pile of crap
Most of you pussies still have your hymen attached
This fellow Kendrick's going to get ended
He raps like he's choking on his own vomit; Hendrix
It leaves me with a sour taste to acknowledge ya'
I'll straight up demolish ya'
Hey, Jay Electronica!
I saw you on "Crap Rappers Gone Wild"
The hottest thing you managed to put out is Kate Rotschild
I'm hostiler than a Rottweiler with rabies
Look at the state of Jay-Z
Man it's a shame, jeez!
Now he's reached the top of the game he's refraining
From saying things even vaguely interesting! Amazing
How he used to be the voice of people from the streets
Now he's the mouthpiece of a Korean phone company
Unbelievable
And if you believe I'm being unreasonable
I'd love to hear your contribution to this free-for-all
But I'm not seeking beef at all
I'm just speaking things we all
Ought to take on board
Shut up, Drake! I'm bored
Leave the door
Shut behind you on the way out
As I lay out
Juicy J
Take his inhaler away, ow...
Fuck Rick Ross
You're as hip hop as lip gloss
I'm a Brit posh
And still hit harder than this tosser!
Rap fans should be pissed off
At how they're ripped off
Major labels making pay from selling people this dross!
I came to change the game
Taking aim at famous names
Day to day
I blaze the lamest
Of you up in Satan's flames!
I don't care whether you burn on Hell or freeze!
Joel Ortiz
Can go to town on deez
Nuts!
I'm a beast that's
Come from out the blue
Every rapper on a major label: Run, I'm out for you!
Ha! It took a geeky prick like me
To show you how to do hip hop?
Well that proves you really need a sound that's new
So here I'll be hopeful
With a serious proposal:
Let's start talking about things that are real in our vocals
Social issues
Science, reason, actual feelings
On beats that are banging enough to smash the ceiling!
Now I don't know about you, but I think that's appealing
Bringing back the thing that rappers lack to bandage up the bleeding
They say the pen is more mighty than the sword
I say the way I handle mics is mightier than yours
It's indisputable that I'm the king of New York
And that's despite the fact I've never been to New York!
It's Dan Bull

[Outro]
I mean, I hope you understand my point there?
It's not difficult to just rap 50 bars and insult some people
It is slightly more challenging to touch people's hearts
To be honest
To connect with the world around you by confessing your weaknesses to it
I'm afraid of butterflies, that's my phobia
Butterflies!
Moths! Urgh...
Moths...