Control, Control
Nah, this one could be out of Control (x6)

Ya, now pass me hits of the chronic
Man i'm try'na be iconic with lil' hits of Ebonics
And lil hints of Chronicles of Riddick
My chronicles entail enlargement with the monocle
Tellin' me to come and get it
And i'm with it
My mother concern
I made these wide turns with the usher ties
Had to let 'em burn
Now let the Rosetta turn
Me into a stone cold killer with a better perm
Are you here for better or worst
Could better your purse
But you wouldn't come up out
Just by liftin' your skirt
Try'na flirt, it hurt
Some of my favorite women call me a jerk
But still i only call my momma
She the only reason i work
I was curse to be the man with the consciousness
Big as the continents
Except i got an ego that is bigger and opposite
That's what the problem is
Tryin' to stay neutral in amidst of Apocalypse
Now this one could be out of control

[Chorus]
(system of control and an unaware mind
Make the prisoner a ho) (x2)

[Verse 2]
What's up
Could take you back to the Constitution
I swear at my palms
Kill a fuckin' cop try'na stop me
Bearin' my arm
Rather alarm but i am calm
And i'm awaiting the storm
You should be warn
My ambition it is similar to all the Crusades to the damn Christians
I hate, when a woman tell me i'm trippin'
Of course i'm trippin'
Bush was tellin' lies
And i was forced to listen
Obama been tellin' lies
It's time to click the news off
Click my shoes off
Went back to my roots
Rollin' this truth
Try'na cool off
Every time i do another show there's a fear that i'll get boo'd off
Guess that's the insecurities of a man
Take the suit off
Let that girl dance
Take the rubber bands on top of the loot off
The hatred is Lil Duval
Rather comedic, i don't need it
Give me my U-Haul
Take all my rhymes upstate to Tallahassee
But when my girl asks me how it's all going
I say, "this could be outta control"

[Chorus]
(system of control and an unaware mind
Make the prisoner a ho) (x2)