Letra de "Control" ft. Chris Brown & Pitbull

[Intro: Pitbull, Wisin]
I'm the most loved and the most hated (Doble U)
I don't care about the game 'cause I already played it
(Pitbull, Chris Brown,) and Mr. Worldwide
(Histórico, y disfrutarte más y más)
Buckle up, let's ride

[Puente: Wisin]
Con sólo un rose ella me hipnotizó (más y más)
Algo dentro de mí se prendió (yo quiero más)
Un viaje sin regreso (un viaje solo de ella)
Uuuh, baby yo quiero de eso (-tarte más y más)

[Pre-Coro: Wisin]
Tienes que verla haciéndome el amor (más y más)
Una ataque de sensualidad (yo quiero más)
Por fin estamos solitos los dos
Te deseo, dame más

(Multimillo Records)

[Coro: Wisin, Chris Brown, Pitbull]
Tú tienes el control (uoh-oh-oh)
Es que me matas bailando así (bailando así)
La habitación, uoh, te juro que huele a ti
(ay, yo te juro que huele a ti, te lo juro)

Puedo llegar al sol (ajá)
Si estás encima de mí (quiero ser sincero contigo)
Dame de tu seducción, uoh-oh
No lo pienses, dime que sí (no lo pienses, dime que sí)

(Wuuuh)
(Pitbull)

[Verso 1: Pitbull, Wisin]
She's got me losing control (control, ajá)
She's got me losing my mind (mind)
I've lost money, but I haven't lost time (pam-pam-pam)
And if you got time to break down love
You'll see that love is blind
I love to hustle and I love to grind (heh-heh-heh-heh-heh-heh)
I don't like playing but I love to fly (wuh)

Yo lo entrego todo (¿cómo?)
Pa' que el mundo vean los lobo' (¿cómo?)
Yo soy dueño de un planeta (¿cómo?)
Ellos ni son dueño' de un globo
(¿quiénes son?, Doble U, Chris Brown, Mr. Todo el mundo, heh)
Lo mío es profundo, millonario no, billonario sí
Toquen ahora, pero dame un segundo, dale (princesa)

[Coro: Wisin, Chris Brown]
Tú tienes el control (uoh-oh-oh)
Es que me matas bailando así (bailando así)
La habitación, uoh, te juro que huele a ti
(ay, yo te juro que huele a ti, te lo juro)

Puedo llegar al sol
Si estás encima de mí
Dame de tu seducción, uoh-oh
No lo pienses, dime que sí (no lo pienses, dime que sí)

(Pam-parapam-para-pam-pam-pam)

[Verso 2: Chris Brown, Wisin]
Living our life in the spotlight
It's your stage, start performing
I see the love in your eyes (ajá)
And I'll show the world with you if you wanna (pah)

Let's live life on the wild side
We can jump out the plane (heh)
You're not scared of danger (ella es extrema)
I love you, girl, that's a promise (ajá)
I need you, girl, let's be honest
We can do it all night
Oh-oh-oh-uuuh, yeah

[Puente: Wisin, Chris Brown]
Con sólo un rose ella me hipnotizó (-zó)
Algo dentro de mí se prendió (se prendió)
Un viaje sin regreso (oooh, yeah)
Uuuh, baby yo quiero de eso (darte más y más, pah)

[Pre-Coro: Wisin, Chris Brown, Pitbull]
Tienes que verla haciéndome el amor (pam-pam-pam, uh-uh-uh)
Un ataque de sensualidad (yeh-eh-eh-eh)
Por fin estamos solitos los dos (eh-eh-eeeh-eeeh-eeeh)
Te deseo, dame más (heeeeh)

Revolución
(Latinos)

[Coro: Wisin & Chris Brown]
Tú tienes el control (uoh-oh-oh)
Es que me matas bailando así (eh-eh, bailando así)
La habitación, uoh, te juro que huele a ti (eh-eh)
(ay, yo te juro que huele a ti, heh-heh)

Puedo llegar al sol (ajá)
Si estás encima de mí (quiero ser sincero contigo)
Dame de tu seducción, uoh-oh-oh
No lo pienses, dime que sí (no lo pienses, dime que sí)

[Outro: Wisin]
Damas y caballeros fueron
Pitbull, Doble U, Chris Brown
Hyde "El Químico"
Chris Jeday
"El Sobreviviente"
El dinero, ouh