[Intro: K Camp's dad]
When you were growing up, I missed the laughs, I missed the fun
Every time you left heading to ATL, I felt undone
Sometimes I wanted to talk, but hustlin' took its toll
Damn near gave the streets my soul
I will never be able to replace the time lost
Bein' a daddy and not a father is a hell of a cost
A big piece of me is you
As I reflect the man in the mirror, he gets so clearer
He wants to pull me in to start over
Black Ops this is not
This is something inside deep from your pops

[Verse 1]
Shit get better with time
You ever heard me say one lie in my rhyme?
Been doing a lot of thinking and a whole lot of praying
It's my only way to vent, what the hell is you saying?
Feel like I got a lot of people that's depending on me
Built a solid foundation, put the building on me
You remind me of myself so why you tripping on me?
I remember how it felt when my tank was on E
I remember how it felt when the money was low
Dirty dishes in the sink, mouse traps on the floor
Need to buy a bakery, the way I'm after the dough
Wonder why the hating me, I just practice and go
One thing I learned, time don't wait for nobody
Love the feeling I can finally tell my momma I got it
Love the feeling I can finally take a look in my wallet
See some hunnids in that mothafucka, maybe I'm wilding

[Chorus]
Shit get better with time
I said shit get better with time
Shit get better with time
Shit get better with time
Let's go

[Verse 2]
R.I.P. aunt Randie, I got something to say
Keep ya head up unc, trust the lord and your faith
Momma just told me grandma ain't doing too well
Ever sicne she gave me hope, I've been giving them hell
Back then with the juice jugs shooting the cans
Where I come from, from niggas shooting they mans
Where I come from, nigga, nobody safe
Where I come from, like no other place
And I love that I'm just trying to be around where the love at
Niggas beefing over bitches, we above that
I ain't smoked all day, where the drugs at?
Shawty tryna go some rounds, where my gloves at?
Even though you wasn't around, I can't blame you
You is who you is, I can never change you
Life lessons that will show me what the game do
It made me who I am so I got to thank you

[Chorus]
Shit get better with time
I said shit get better with time
Shit get better with time
Shit get better with time
Let's go

[Verse 3]
Hold up, wait can't believe they want more
30 cent bag of chips on the corner store
Doing 'bout a hunnid, youngin' always on go
Say you getting pussy, why you stressing 'bout a ho?
Nigga pay attention, I'm the man on the low
Fuck that shit, I'm the man on the high
Last time I checked, the only time I got fooled
When R Kelly told me he believed he could fly

[Outro: K Camp's mom]
I knew how passionate he was (forreal)
You know, he used to write every day
He'd go downstairs, stay down there for hours
That's all my house was, a studio
When you find the one, that he stays up all night for
That's the one that you need to get behind and push him
He's been consistent since day one