Verse 1 ( Marissa)
Don't lie, Don't lie
Keep it real , 100
You can have my heart, take it if you want it
Just me , Just me
If she can have it , ion want it
If she can have it , ion want it
Selfish & I know it
Love me , love me
All of me or none at all
Take the time to get to know my perfections & my flaws

(Pre Hook)
Is that to much to ask , to much ask
Am I wanting to much, to wanting to last
I don't mean to set guidelines, but a girl got to be cautious

(Hook)
Baby there's rules to this
You can't play with my love
Don't be making shit up
You can't make that shit up
There's rules to this
If you wanna be with me
Got to be me & only me
Are you sure that your ready
Think about it (x3)
Think about it (x3)
There's rules to this
There's rules to this

Verse 2 (K Camp)
Okay, girl tell me when your ready
(tell me when your ready)
Just by your vibe your feeling me but I knew it already
I don't play by rules
But I know I want you, you, you
Conversation steady going steady
He ain't got to ask im with it
I done been with plenty bitches
But these petty bitches they don't never get it
Ion know i  seen more of you but shit I can t be wrong
I know you feel this way you belong

(Hook)

Verse 3 ( Marissa)
Show me, Show me  that you care
Show me that your there for me
That I'm yours baby
Action, attention, love &; affection keep me
I wanna be in you possession

(Pre Hook)

(Bridge)
Don't lie, Don't lie
Don't lie, Don't lie

(Hook)